<br>
<div id="nav" class="container">
  <div class="btn-group">

    <a type="button" class="btn btn-secondary" href="/">Home</a>

    <a type="button" class="btn btn-secondary" href="/assignments">Assignments</a>

    <a type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
        <span class="caret"></span>
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/postal">Postal</a>
      <a class="dropdown-item" href="/chat-login">Project 2</a>
      <a class="dropdown-item disabled" href="#">Assignment</a>
      <a class="dropdown-item disabled" href="#">Assignment</a>
    </div>

  </div>

</div>