<!DOCTYPE html>
<html lang="en-US">
	
<head>
  <title>Enter Password</title>
  <!-- Head -->
  <% include ../../../partials/head.ejs %>
</head>

<body class="container-fluid">
  <!-- Content -->
  <br>
  <div id="content" class="container">
    <h1>Please enter the password for <%= room %>:</h1>

    <p class="text-danger" id='warning'>
      <% if (locals.message) {%>
        <%= message %> 
      <% } %>
    </p>

    <form action="/check-password-submit" method="GET">
      <input type="hidden" id="room" name="room" value="<%= room %>">
      
      <div class="form-group">
        <input type="password" name="password" id="password" class="form-control" placeholder="password" />
      </div>
        
      <button type="submit" name="submit" value="<%= roomid %>" class="btn btn-primary btn-lg">Submit</button>
    </form>
  </div>

  <!-- Footer -->
  <% include ../../../partials/footer.ejs %>

</body>
</html>