<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Assignments</title>
  <!-- Head -->
  <% include ../partials/head.ejs %>
</head>

<body class="bg-primary container-fluid">
  <!-- Header -->
  <% include ../partials/header.ejs %>

  <!-- Navigation bar -->
  <% include ../partials/nav.ejs %>

  <!-- Content -->
  <br>
  <div id="content" class="container">
    <h2>Coming Soon!</h2>
    <p>
      You may have noticed some "broken" links on this site. Do not be afraid!! These are just temporary placeholders for things to come! Each week something new will be added and maybe more of these placeholders will be populated with actual names. This is to get you excited to come back and see each of these assignments completed and fully functioning!
    </p>

    <!-- Assignment List -->
    <% include ../partials/assignment-list.ejs %>
    
  </div>

  <!-- Footer -->
  <% include ../partials/footer.ejs %>
    
</body>
</html>	