<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Home Page</title>
  <!-- Head -->
  <% include ../partials/head.ejs %>
</head>

<body class="bg-primary container-fluid">
  <!-- Header -->
  <% include ../partials/header.ejs %>

  <!-- Navigation bar -->
  <% include ../partials/nav.ejs %>

  <!-- Content -->
  <br>
  <div id="content" class="container">
    <h1>CS 313 Node Home Page</h1>

    <p>Welcome to my homepage for CS 313 - Web Engineering II! (the node portion of the class) Thank you so much for visiting. It really means a lot to me. Hopefully you know the drill by now. Navigate to a page and tell me what you think!</p>
    
  </div>

  <!-- Footer -->
  <% include ../partials/footer.ejs %>
  
</body>
</html>